body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#grid {
    margin: 10px 0 50px 0;
    display: grid;
    /*TODO à récupérer sur le serveur*/
    /*toutes les cartes ne sont pas forcément en 100x100*/
    grid-template-columns: repeat(100, 4px);
    grid-template-rows: repeat(100, 4px);

    &>div {
        width: 4px;
        height: 4px;
        margin: 0px;
    }
}
